@charset "utf-8";
*{padding:0;margin:0}
@font-face{font-family:"Kelson Sans RU Regular"; src:url(fonts/kelson_sans_regular_ru.ttf)}
@font-face{font-family:"Kelson Sans RU Bold"; src:url(fonts/kelson_sans_bold_ru.ttf)}
@font-face{font-family:"Uni Sans Heavy"; src:url(fonts/Uni_Sans_Heavy.ttf)}
@font-face{font-family:"Uni Sans Thin"; src:url(fonts/Uni_Sans_Thin.ttf)}
body{color:#000;background:#fff;font:16px "Trebuchet MS",Calibri,sans-serif;min-width:1001px}
section,nav,footer,header{min-width:1001px}
header,main,footer,nav,aside,section,article,figure,figcaption{display:block}
.clear{clear:both}
.left{float:left}
.right{float:right}
.hide{display:none}
.show{display:block}
.button{cursor:pointer}

.black{background:#2d2d2d;padding:4px 6px}
.orange{color:#f8bb24}

section{clear:both}
main{margin:0 auto;width:960px;position:relative}

header{background:url('img/fon.jpg') center top no-repeat;color:white;height:889px;}
#top{font-family:"Uni Sans Thin";font-size:20px;font-weight:normal;text-transform:uppercase;padding:35px 40px}
header h1{font:bold 46px "Trebuchet MS";text-transform:uppercase;padding-left:40px}
header main > p{font:22px/30px "Uni Sans Thin";padding:3px 0 0 40px;text-transform:uppercase}
header main > p:nth-child(4) span{padding-right:28px}
header form{display:inline-block;margin: 30px 0 0 40px}
header form div{margin-bottom:30px}
header form h2{text-transform:uppercase;font-family:"Trebuchet MS";font-size:30px;font-weight:bold;padding:4px 0 0 6px}
header form h3{font-family:"Trebuchet MS";font-size:15px;font-weight:normal;padding:0 0 4px 6px}
header input{display:block;width:270px;color:black;padding:10px 15px;font:16px 'Trebuchet MS';margin-bottom:5px;outline:none;border:none;margin-bottom:15px;}
header form button{width:170px;height:40px;color:white;font:bold 14px "Trebuchet MS";text-transform:uppercase;background:#2d2d2d;border:none;outline:none;cursor:pointer;}

#security{height:625px;background:url(img/fon1.jpg) center top no-repeat}
#security h2{font-family:"Uni Sans Thin","Segoe UI Light";font-size:40px;font-weight:normal;padding-top:80px;text-align:center;color:white;text-transform:uppercase}
#security main{background:url(img/fon1nums.png) center center no-repeat;height:625px}
#security form{margin-top:260px;display:block;text-align:center}
#security form input{display:inline-block;width:200px;height:28px;padding:5px;color:white;font:16px "Trebuchet MS";outline:none;border:1px solid #888;margin:0 15px 25px 0;background:rgba(0,0,0,0.3)}
#security form button{display:inline-block;position:relative;width:220px;height:41px;border:1px solid #888;color:white;cursor:pointer;font:bold 16px "Trebuchet MS";text-transform:uppercase;background:rgba(0,0,0,0.4);outline:none;cursor:pointer}
#security form button:hover{background:rgba(0,0,0,0.7)}

#reasons{background:white}
#reasons main{padding:50px 0}
#reasons h2{background:url(img/7.jpg)no-repeat top left;color:#2d2d2d;margin-left:100px;padding-top:95px; padding-left:195px;height:287px;font:30px "Uni Sans Thin","Segoe UI Light";text-transform:uppercase;}
#reasons h2 span {font-size:50px}
#reasons h2 strong {font:bold 35px "Uni Sans Heavy","Segoe UI";}
#reasons ol {list-style:none;font:17px "Segoe UI Light";margin-left:130px}
#reasons ol li{width:330px;padding-left:10px;position:relative;display:inline-block;margin-bottom:30px;margin-right:60px;counter-increment:list;}
#reasons ol li:before{content:"0"counter(list);position:absolute;left:-25px;font:bold 25px "Trebuchet MS";color:#2d2d2d;}

#why{background:url(img/fon5.jpg) no-repeat center;height:779px}
#why h2{font:bold 55px "Kelson Sans RU Regular";text-transform:uppercase;padding:115px 0 70px 20px;}
#why img{padding-left:50px}


#ideal{height:719px;background:url(img/fon4.jpg) center top no-repeat}
#ideal h2{font:normal 40px "Trebuchet MS";text-transform:uppercase;padding-top:80px;padding-left:40px;margin-bottom:24px}
#ideal ul{background:white;list-style:none;display:block;padding:20px 27px;width:320px;margin-left:40px}
#ideal ul li{border-bottom:1px dotted #333;font:normal bold 19px/52px "Trebuchet MS";padding:0;display:block;margin:0}
#ideal ul li:last-child{border:none}

#all{text-align:center;padding:80px 0}
#all h2{font:normal 32px "Trebuchet MS";text-transform:uppercase;margin-bottom:54px;color:#2d2d2d}

#r1{}
#r2{}
.request{background-color:#f6662f;color:white;padding:60px 0 40px;}
.request main{text-align:center;}
.request h2{font:50px 'Kelson Sans Ru','Trebuchet MS';text-transform:uppercase;margin-bottom:6px;}
.request h3{font:40px 'Kelson Sans Ru','Trebuchet MS';text-transform:uppercase;margin-bottom:4px;}
.request span{font:20px/22px 'Kelson Sans Ru','Trebuchet MS';text-transform:uppercase;}
.request p{font:29px/29px 'Kelson Sans Ru','Trebuchet MS';text-transform:uppercase;margin:50px auto 40px;}
.request form{}
.request input{display:inline-block;width:282px;height:25px;padding:5px;color:#9fa4b0;font:16px "Trebuchet MS";outline:none;border:none;margin:0 15px 25px 15px}
.request button{display:block;position:relative;margin:5px auto;width:270px;height:50px;color:black;font:bold 20px "Trebuchet MS";text-transform:uppercase;background:#f4d31e;border-radius:5px;box-shadow:0 5px #d0b303;border:none;outline:none;cursor:pointer;}
.request button:active{box-shadow:none;margin-top:10px;margin-bottom:0;}
#r2 h2{font-size:40px !important;}

#product1{background:url(img/fon2.jpg)no-repeat center;height:859px;}
#product1 h2{position:absolute;top:-10px;left:100px;font:bold 40px "Trebuchet MS";text-transform:uppercase;margin:95px 35px 70px 50px;color:#ffffff;background:#2d2d2d;display:inline-block;text-align:center;padding:5px 5px} 
#product1 h2 span{color:#f8bb24}
#product1 div{float:right;width:410px;height:734px;background:white;margin-top:60px}
#product1 div ol{list-style:none;padding:120px 0px 30px 10px;font:16px "Trebuchet MS"}
#product1 div ol li{padding:5px 0}
#product1 div ol li strong{font-weight:bold}
#product1 div button{margin-left:30px;margin-top:5px;width:190px;height:50px;background:#2d2d2d;text-transform:uppercase;color:white;font:15px "Trebuchet MS";border:none;cursor:pointer;}
 
#product2{background:url(img/fon3.jpg)no-repeat center;height:859px;}
#product2 h2{position:absolute;top:-10px;left:100px;font:bold 40px "Trebuchet MS";text-transform:uppercase;margin:95px 35px 70px 50px;color:#ffffff;background:#2d2d2d;display:inline-block;text-align:center;padding:5px 5px} 
#product2 h2 span{color:#f8bb24}
#product2 div{float:left;width:410px;height:734px;background:white;margin-top:60px}
#product2 div ol{list-style:none;padding:100px 0px 10px 30px;font:16px "Trebuchet MS"}
#product2 div ol li{padding:5px 0}
#product2 div ol li strong{font-weight:bold}
#product2 div button{margin-left:30px;margin-top:5px;width:190px;height:50px;background:#2d2d2d;text-transform:uppercase;color:white;font:15px "Trebuchet MS";border:none;cursor:pointer;}

#company{position:relative;height:646px;background:white}
#company .left  {float:none;display:block;position:absolute;top:0;bottom:0;left:0;right:50%;background:url(img/fon4.jpg) right center no-repeat}
#company .right{float:none;display:block;position:absolute;top:0;bottom:0;right:0;left:50%;background:white}
#company .right h2{font:bold 45px "Kelson Sans RU Regular";text-transform:uppercase;color:#2d2d2d;padding-left:40px;padding-top:60px}
#company .right h3{font:25px "Kelson Sans RU Regular";text-transform:uppercase;color:#2d2d2d;padding-left:40px}
#company .right h3 span{color:#f8bb24}
#company .right ol{list-style:none;font:16px "Trebuchet MS";color:#2d2d2d;padding-left:20px;padding-top:35px}
#company .right ol li{padding-bottom:15px}

#reviews{position:relative;height:1000px}
#reviews .left  {float:none;display:block;position:absolute;top:0;bottom:0;left:0;right:50%;background:#f5f0ed}
#reviews .right{float:none;display:block;position:absolute;top:0;bottom:0;right:0;left:50%;background:#00b3cb}
#reviews article div{position:absolute;width:400px;top:80px;bottom:80px;text-align:center}
#reviews article div p{text-align:left;margin-top:10px}
#reviews article div h2{margin-bottom:40px;text-transform:uppercase;font:normal 36px "Trebuchet MS";}
#reviews article div img{display:block;margin:0 auto 40px}
#reviews .left   div{right:40px}
#reviews .right div{left:40px}
#reviews div.center{position:absolute;bottom:0;left:0;right:0;padding-bottom:40px;text-align:center;}
#reviews button{display:block;position:relative;margin:5px auto;width:270px;height:50px;color:black;font:bold 20px "Trebuchet MS";text-transform:uppercase;background:#f4d31e;border-radius:5px;box-shadow:0 5px #d0b303;border:none;outline:none;cursor:pointer;}
#reviews button:active{box-shadow:none;margin-top:10px;margin-bottom:0;}

#steps1{background:#fff}
#steps1 main{height:300px;background:white url(img/step1.png)no-repeat 104px 170px;}
#steps1 h2{font:50px "Kelson Sans RU Regular";text-align:center;text-transform:uppercase;padding-top:65px;color:#f6662f}
#steps2{background:#f8f8f8}
#steps2 main{height:350px;background:#f8f8f8 url(img/step2.png)no-repeat 128px 45px;}
#steps2 div.center{position:absolute;top:245px;left:0;right:0;text-align:center;}
#steps2 button{display:block;position:relative;margin:5px auto;width:270px;height:50px;color:black;font:bold 20px "Trebuchet MS";text-transform:uppercase;background:#f4d31e;border-radius:5px;box-shadow:0 5px #d0b303;border:none;outline:none;cursor:pointer;}
#steps2 button:active{box-shadow:none;margin-top:10px;margin-bottom:0;}

#projects{background:white}
#projects main{height:560px}
#projects h2{padding-top:50px;font-family:"Kelson Sans RU Bold";text-align:center;font-weight:bold;color:black;font-size:45px;text-transform:uppercase}
#projects h2 span{color:#d53329}
#projects article{float:none;display:block;position:absolute;top:130px;bottom:0;text-align:left;padding:0 45px}
#projects article.left{left:0;right:50%}
#projects article.right{left:50%;right:0}

#projects article div{margin-bottom:10px}
#projects article div:before{font-weight:bold;}
#projects article .client{font:17px "Trebuchet MS";color:#2d2d2d}
#projects article .client:before{content:"Клиент: "}
#projects article .problem{font-style:italic;font:13px "Trebuchet MS";color:#2d2d2d;margin-bottom:25px}
#projects article .problem:before{content:"Задача: ";font-style:italic}
#projects article .solution{min-height:100px;padding-left:110px;font:15px "Trebuchet MS";color:#2d2d2d;margin-bottom:30px}
#projects article .solution:before{content:"Решение: ";}
#projects article .solution img{float:left;margin-left:-110px}
#projects article .result{color:#d53329}
#projects article .result:before{content:"Результат"}
#projects article .result ul{margin-left:110px;margin-top:-20px;list-style-image:url(img/ok.png)}

#license{background:url(img/fon6.jpg) no-repeat center top;height:940px}
#license h2{font:bold 40px "Trebuchet MS";text-transform:uppercase;color:#ffffff;padding-top:115px;margin-bottom:40px;}
#license h3{font:bold 40px "Trebuchet MS";text-transform:uppercase;color:#ffffff;padding:1px;margin:130px 0 45px 200px;}
#license h2.black{font:bold 40px "Trebuchet MS";text-transform:uppercase;color:#f8bb24;padding-top:115px;margin-bottom:40px;}
#license h2.black span{background:#2d2d2d;color:#ffffff}
#license h3.black{font:bold 40px "Trebuchet MS";text-transform:uppercase;color:#f8bb24;padding:1px;margin:130px 0 45px 200px;}
#license h3.black span{background:#2d2d2d;padding:0 10px;color:#ffffff}

#sertificates{padding-bottom:25px;text-align:center}
#sertificates figure{width:216px;padding:0 10px;display:inline-block;cursor:pointer}
#sertificates figure figcaption{background:#f8bb24;height:35px;text-transform:uppercase;text-align:center;font:14px "Elektra Light Pro",Tahoma,'Kelson Sans Ru',"Georgia";margin-bottom:6px}

#questions{background:white}
#questions h2{text-align:left;font:37px "Trebuchet MS";text-transform:uppercase;color:#2d2d2d;padding-top:50px}
#questions form{padding-bottom:40px}
#questions form input{display:inline-block;width:200px;height:28px;padding:5px;color:#9fa4b0;font:16px "Trebuchet MS";outline:none;border:1px solid #ccc;margin:0 15px 25px 0}
#questions form button{display:inline-block;position:relative;width:160px;height:36px;color:black;cursor:pointer;font:bold 16px "Trebuchet MS";text-transform:uppercase;background:#f4d31e;border-radius:3px;box-shadow:0 3px #d0b303;border:none;outline:none;cursor:pointer}
#questions form button:active{box-shadow:none;margin-top:10px;margin-bottom:0;}

#map{background:url('img/map.jpg') center top no-repeat;height:513px;}

footer{color:white;background:url('img/fon7.jpg') center top no-repeat;height:331px;margin-bottom:48px}
footer main{text-align:center;}
footer p, footer h4{font:normal 16px "Trebuchet MS";}
footer h2, footer h3{font:bold 28px "Trebuchet MS";}
footer h2{padding-top:105px;text-transform:uppercase}
footer h2 p{color:#f8bb24;font-size:25px;font-weight:bold}
footer h3{padding-top:15px;}
footer h4{padding-top:27px;}
footer span{color:#fdd81e}

#splash,#bigIMG{position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.8);color:white;text-shadow:0 0 1px #666;display:none;z-index:20;}
#splash section{background-color:#f6662f;color:white;position:absolute;left:0;right:0;top:15%}
#splash main{text-align:center}
#splash p{color:white;text-align:center}
#splash form{margin:0 auto 0}
#bigIMG{background:rgba(0,0,0,.8) center center no-repeat;background-size:contain}
#bigIMG #close{position:absolute;top:0;right:0;bottom:0;background:rgba(0,0,0,.3);color:white;cursor:pointer;text-align:right;padding:4% 3%}
#bigIMG #close:hover{background:rgba(0,0,0,.5);}

#copyright{background:#333;padding:10px 0;text-align:center;font-size:12px;color:gray;font-family:Calibri;transition:0.5s all;cursor:pointer;position:fixed;bottom:0;left:0;right:0;z-index:-1}
#copyright a{color:green;text-decoration:none;transition:0.5s all}
#copyright:hover{color:silver;background:#444}
#copyright:hover a{color:lime}
