@charset "utf-8";
*{padding:0;margin:0}
@font-face{font-family:"Kelson Sans RU Regular"; src:url(fonts/kelson_sans_regular_ru.ttf)}
body{color:#000;background:#fff;font:16px "Trebuchet MS",Calibri,sans-serif;min-width:1001px}
section,nav,footer,header{min-width:1001px}
header,main,footer,nav,aside,section,article,figure,figcaption{display:block}
.clear{clear:both}
.left{float:left}
.right{float:right}
.hide{display:none}
.show{display:block}
.button{cursor:pointer}

section{clear:both}
main{margin:0 auto;width:960px;position:relative}

header{background:url('img/fon1.jpg') center top no-repeat;color:white;height:814px;}
header main{text-align:right;}
header main.left{float:none;text-align:left;}
header h2{font:bold 28px "Trebuchet MS";background-color:#2d2d2d;position:relative;width:auto;margin: 0 10px 0 0;padding: 0 10px;float:right;clear:both;}
header h2.tel{font:25px "Trebuchet MS";position:relative;float:right;clear:both;}
header button.button{position:relative;margin: 10px 10px 20px 0;width:180px;height:50px;float:right;clear:both;background-color:#fbd63a;border:none;outline:none;cursor:pointer;font:14px "Trebuchet MS";text-transform:uppercase;}
header h1{font:bold 70px "Trebuchet MS";background-color:#2d2d2d;position:relative;margin: 0 10px 0 0;float:right;clear:both;z-index:10;padding: 0 10px;}
header h3{font:60px "Trebuchet MS";background-color:#2d2d2d;position:relative;margin: -10px 10px 0 0;float:right;clear:both;}
header p{font:bold 30px "Trebuchet MS";clear:both;background-color:#2d2d2d;float:left;clear:both;padding: 0 10px;position:relative}
header p.line1{margin: 150px 0 0 50px;z-index:15;}
header p.line2{margin: -5px 0 0 50px;z-index:12;}
header p.line3{margin: -5px 0 0 50px;z-index:10;}
header p span{color:#fbd63a}
header form{display:inline-block;margin: 30px 0 0 50px;float:left;clear:both;}
header input{display:block;width:270px;height:10px;padding:15px;color:#9fa4b0;font:16px 'Trebuchet MS';margin-bottom:5px;outline:none;border:none;margin-bottom:15px;}
header form button{width:170px;height:40px;color:white;font:bold 14px "Trebuchet MS";text-transform:uppercase;background:#2d2d2d;border:none;outline:none;cursor:pointer;}

#welcome{background:url('img/fon2.jpg') center top no-repeat;color:white;height:845px;}
#welcome h3{font:bold 40px "Trebuchet MS";padding-top:150px;margin:0 0 20px 496px}
#welcome p{background-color:white;color:black;font:19px "Trebuchet MS";width:407px;padding:15px;margin-left:496px;}

#why{background:url(img/fon3.jpg) no-repeat center;height:681px}
#why h2{font:37px "Kelson Sans RU Regular";text-transform:uppercase;text-align:center;color:white;padding-top:85px}
#why ol{list-style:none;margin-top:45px;}
#why ol li{width:400px;position:relative;display:inline-block;margin:12px 35px;font:16px "Trebuchet MS";color:white;}
#why ol li strong{color:#f7bb23;font:55px "Verdana";}
#why ol li span{color:#f7bb23;}

#ideal{height:719px;background:url(img/fon4.jpg) center top no-repeat}
#ideal h2{font:normal 40px "Trebuchet MS";text-transform:uppercase;padding-top:80px;padding-left:40px;margin-bottom:24px}
#ideal ul{background:white;list-style:none;display:block;padding:20px 27px;width:320px;margin-left:40px}
#ideal ul li{border-bottom:1px dotted #333;font:normal bold 19px/52px "Trebuchet MS";padding:0;display:block;margin:0}
#ideal ul li:last-child{border:none}

#all{text-align:center;padding:80px 0}
#all h2{font:normal 32px "Trebuchet MS";text-transform:uppercase;margin-bottom:54px;color:#2d2d2d}

#r1{}
#r2{}
.request{background-color:#f6662f;color:white;padding:60px 0;}
.request main{text-align:center;}
.request h2{font:50px 'Kelson Sans Ru','Trebuchet MS';text-transform:uppercase;margin-bottom:60px;}
.request p{font:29px/29px 'Kelson Sans Ru','Trebuchet MS';text-transform:uppercase;margin-bottom:40px;}
.request form{}
.request input{display:inline-block;width:282px;height:25px;padding:5px;color:#9fa4b0;font:16px "Trebuchet MS";outline:none;border:none;margin:0 15px 25px 15px}
.request button{display:block;position:relative;margin:5px auto;width:270px;height:50px;color:black;font:bold 20px "Trebuchet MS";text-transform:uppercase;background:#f4d31e;border-radius:5px;box-shadow:0 5px #d0b303;border:none;outline:none;cursor:pointer;}
.request button:active{box-shadow:none;margin-top:10px;margin-bottom:0;}
#r2 h2{font-size:40px !important;}

#reviews{position:relative;height:720px}
#reviews .left  {float:none;display:block;position:absolute;top:0;bottom:0;left:0;right:50%;background:#f5f0ed}
#reviews .right{float:none;display:block;position:absolute;top:0;bottom:0;right:0;left:50%;background:#00b3cb}
#reviews article div{position:absolute;width:400px;top:80px;bottom:80px;text-align:center}
#reviews article div p{text-align:left;margin-top:10px}
#reviews article div h2{margin-bottom:40px;text-transform:uppercase;font:normal 36px "Trebuchet MS";}
#reviews article div img{display:block;margin:0 auto 40px}
#reviews .left   div{right:40px}
#reviews .right div{left:40px}

#a1{background:url(img/fon5.jpg)no-repeat center;height:859px;}
#a1 h2{position:absolute;top:-10px;left:223px;font:bold 40px "Trebuchet MS";text-transform:uppercase;margin:95px 35px 70px 50px;color:#ffffff;background:#2d2d2d;display:inline-block;text-align:center;padding:5px 5px} 
#a1 div{float:right;width:410px;height:734px;background:white;margin-top:60px}
#a1 div ol{list-style:none;padding:100px 0px 40px 30px;font:bold 18px "Trebuchet MS"}
#a1 div ol li{padding:8px 0}
#a1 div h3{font:26px "Trebuchet MS";background:#f8bb24;display:inline-block;padding:5px 10px;margin-left:30px;margin-bottom:5px;}
#a1 div p{font:16px "Trebuchet MS";padding:10px 0 10px 30px}
#a1 div button{margin-left:30px;margin-top:5px;width:190px;height:50px;background:#2d2d2d;text-transform:uppercase;color:white;font:15px "Trebuchet MS";border:none;cursor:pointer;}
 
#a2{background:url(img/fon6.jpg)no-repeat center;height:859px;}
#a2 h2{position:absolute;top:-10px;left:185px;font:bold 40px "Trebuchet MS";text-transform:uppercase;margin:95px 35px 70px 50px;color:#ffffff;background:#2d2d2d;display:inline-block;text-align:center;padding:5px 5px} 
#a2 div{float:left;width:410px;height:734px;background:white;margin-top:60px}
#a2 div ol{list-style:none;padding:100px 0px 35px 30px;font:bold 18px "Trebuchet MS"}
#a2 div ol li{padding:8px 0}
#a2 div h3{font:26px "Trebuchet MS";background:#f8bb24;display:inline-block;padding:5px 10px;margin-left:30px;margin-bottom:5px;}
#a2 div p{font:16px "Trebuchet MS";padding:10px 0 9px 30px}
#a2 div button{margin-left:30px;margin-top:5px;width:190px;height:50px;background:#2d2d2d;text-transform:uppercase;color:white;font:15px "Trebuchet MS";border:none;cursor:pointer;}

#map{background:url('img/map.jpg') center top no-repeat;height:513px;}

footer{color:white;background:url('img/fon7.jpg') center top no-repeat;height:331px;}
footer main{text-align:center;}
footer p, footer h4{font:normal 16px "Trebuchet MS";}
footer h2, footer h3{font:bold 28px "Trebuchet MS";}
footer h2{padding-top:105px;}
footer h3{padding-top:15px;}
footer h4{padding-top:27px;}
footer span{color:#fdd81e}

#splash{position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.8);color:white;text-shadow:0 0 1px #666;display:none;z-index:20;}
#splash section{background-color:#f6662f;color:white;position:absolute;left:0;right:0;top:25%}
#splash main{text-align:center}
#splash p{color:white;text-align:center}
#splash form{margin:0 auto 0}

#copyright{text-align:center;font-size:12px;color:gray;font-family:Calibri}
#copyright a{color:lime;text-decoration:none}